/* line 1, ../scss/app.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../scss/app.scss */
body {
  font-family: sans-serif;
  overflow: hidden;
  max-height: 100vh;
  min-height: 100vh;
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

/* line 16, ../scss/app.scss */
#iframe {
  width: 100%;
  height: 100%;
  flex: 1;
  background: ghostwhite;
  /* Tablet - hide background */
  overflow: scroll;
  border: none;
  margin: 0;
  padding: 0;
}

/* line 27, ../scss/app.scss */
#iframe.empty {
  display: none;
}

/* line 31, ../scss/app.scss */
#iframe:not(.empty) ~ .content__app {
  display: none;
}

/* line 35, ../scss/app.scss */
#iframe:not(.empty) + .placeholder {
  display: none;
}

/* line 39, ../scss/app.scss */
#tab-container {
  display: flex;
  flex: 1;
  top: 20px;
}

/* line 45, ../scss/app.scss */
.tab {
  background: url("../images/loadscreen5.jpg");
  background-size: 100% 100%;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* line 54, ../scss/app.scss */
.tab-wrap {
  position: relative;
  background: black;
  width: 1080px;
  height: 684px;
  max-width: 1080px;
  max-height: 684px;
  margin: 0 auto 0;
  padding: 30px;
  padding-bottom: 62.5px;
  border-radius: 30px;
  transition: transform 0.75s ease, box-shadow 0.75s ease;
  display: flex;
  flex-direction: column;
}

/* line 70, ../scss/app.scss */
.tab-wrap .dot {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 33%;
  padding-top: 10px;
  bottom: 8px;
  border: 1px solid white;
  transition: all 0.5s ease;
  align-self: center;
  cursor: pointer;
}

/* line 83, ../scss/app.scss */
.tab-wrap .dot:hover {
  border: 1px solid #74b9ff;
}

/* line 87, ../scss/app.scss */
.tab-wrap .tab {
  padding: 0;
  overflow: hidden;
}

/* line 92, ../scss/app.scss */
.logo_mycity {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 20px;
  width: auto;
  padding-left: 1px;
}

/* 

CODE BY SONIK 
Refont @ 25/03/2021

*/
/* line 108, ../scss/app.scss */
.offview {
  display: none;
}

/* line 112, ../scss/app.scss */
.unlock {
  width: calc(100% - 60px);
  height: calc(100% - 90px);
  background-image: url("../images/loadscreen5.jpg");
  background-size: 100% 100%;
  position: absolute;
}
/* line 121, ../scss/app.scss */
.unlock .date__today {
  height: 150px;
  top: 100px;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}
/* line 129, ../scss/app.scss */
.unlock .date__today .showHours {
  margin: 0;
  font-weight: bold;
  font-size: 70px;
}
/* line 135, ../scss/app.scss */
.unlock .date__today .showDate {
  margin: 0;
  font-size: 20px;
}
/* line 141, ../scss/app.scss */
.unlock .digital {
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 15px;
  color: white;
}
/* line 151, ../scss/app.scss */
.unlock .digital .digital__circle {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 10px;
}
/* line 160, ../scss/app.scss */
.unlock .digital .digital__circle:hover {
  cursor: pointer;
  background-color: #eb4d4b;
}
/* line 165, ../scss/app.scss */
.unlock .digital .digital__circle .icon-digital {
  font-size: 55px;
  color: white;
  padding-top: 10px;
  padding-left: 2.5px;
}
/* line 173, ../scss/app.scss */
.unlock .digital p {
  margin: 0;
}
/* line 177, ../scss/app.scss */
.unlock .digital .progress {
  height: 4.5px;
  width: 0%;
  background-color: #ecf0f1;
  bottom: 0;
  position: absolute;
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.75);
}

/* line 191, ../scss/app.scss */
.content__app {
  margin-top: 55px;
  /* background-color: black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
/* line 204, ../scss/app.scss */
.content__app li {
  position: relative;
  list-style-type: none;
  height: 25%;
  width: 12%;
  margin: 15px;
  padding-top: 10px;
}
/* line 213, ../scss/app.scss */
.content__app li:hover {
  cursor: pointer;
}
/* line 215, ../scss/app.scss */
.content__app li:hover p {
  color: #dfe6e9;
}
/* line 216, ../scss/app.scss */
.content__app li:hover .myicon {
  box-shadow: 4px -2px 19px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 19px 3px rgba(0, 0, 0, 0.42);
}
/* line 226, ../scss/app.scss */
.content__app .nav-myframe {
  text-decoration: none;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 234, ../scss/app.scss */
.content__app p {
  margin: 0;
  padding-top: 5px;
  color: white;
}
/* line 240, ../scss/app.scss */
.content__app .myicon {
  color: ivory;
  border-radius: 15%;
  font-size: 45px;
  padding-top: 10px;
  box-sizing: border-box;
  height: 70px;
  width: 70px;
  max-height: 70px;
  max-width: 70px;
}

/* line 254, ../scss/app.scss */
.jump {
  animation: JUMP 600ms 2 cubic-bezier(0.4, 0.01, 0.6, 0.99);
}

@keyframes JUMP {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
    padding-bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
